doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
  body
    .container
        h1 Works!

        ul.list-group
          li.list-group-item: #example1
          li.list-group-item: #example2
          li.list-group-item: #example3
          li.list-group-item: #example4
          li.list-group-item: #example5
          li.list-group-item: #example6
          li.list-group-item: #example7
          li.list-group-item: #example8
          li.list-group-item: #example9
          li.list-group-item: #example10
          li.list-group-item: #example11
          li.list-group-item: #example12

    <!--[if IE]><!-->
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.min.js"></script>
    <!--<![endif]-->

    script(src="/js/app.js")
